################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeparatedConcerns/packages
/SeparatedConcerns/SeparatedConcerns.Database/bin
/SeparatedConcerns/SeparatedConcerns.Database/obj
/SeparatedConcerns/SeparatedConcerns.Logic/obj
/SeparatedConcerns/SeparatedConcerns.Repository/obj
/SeparatedConcerns/SeparatedConcerns.Shared/obj
/SeparatedConcerns/SeparatedConcerns.WebClient/bin
/SeparatedConcerns/SeparatedConcerns.WebClient/obj
/SeparatedConcerns/SeparatedConcerns.Repository/bin
/SeparatedConcerns/SeparatedConcerns.Logic/bin
/SeparatedConcerns/SeparatedConcerns.RestApi/bin
/SeparatedConcerns/SeparatedConcerns.RestApi/obj
/SeparatedConcerns/SeparatedConcerns.Tests/bin
/SeparatedConcerns/SeparatedConcerns.Tests/obj
/SeparatedConcerns/SeparatedConcerns.Database/SeparatedConcerns.Database.dbmdl
/SeparatedConcerns/SeparatedConcerns.Database/SeparatedConcerns.Database.jfm
SeparatedConcerns/.vs
.vscode
**/*.rs.bk
Cargo.lock
.cargo-lock
Rust/target
/obj/
/bin/
